include README.rst README_en.rst requirements.txt requirements-tensor.txt
include fedot_ind/core/repository/data/*.json
include fedot_ind/core/repository/data/ts_benchmark_metadata.csv
include fedot_ind/core/architecture/postprocessing/ucr_datasets.json
prune benchmark
prune examples
prune tests
prune docs
prune tools
prune .codex
prune .local
