sphinx~=7.3.7
numpy~=1.24.4
pytest~=8.0.2
matplotlib~=3.8.4
pandas~=1.5.3
fedot~=0.7.3.2
torch~=2.2.2
scipy~=1.12.0
typing~=3.7.4.3
pyyaml~=6.0.1
torchvision~=0.17.2
tqdm~=4.65.2
scikit-learn~=1.5.0
setuptools~=70.0.0
librosa~=0.10.2.post1
pillow~=10.2.0
pymonad~=2.4.0
fastai~=2.7.15
fastcore~=1.5.44
pyriemann~=0.5
sympy~=1.12.1
statsmodels~=0.14.2
joblib~=1.4.2
hyperopt~=0.2.7
sktime~=0.30.1
mklpy~=0.6
ripser~=0.6.4
tensorly~=0.8.1
lightgbm~=4.3.0
xgboost~=2.0.3
spectrum~=0.8.1
distributed~=2023.12.1
seaborn~=0.13.2
chardet~=5.2.0
datasets~=2.19.2
datasetsforecast~=0.0.8