fedot~=0.7.3

# workaround for macos
catboost==1.1.1; sys_platform == 'darwin'

fedot==0.7.3.1
catboost==1.1.1
mklpy==0.6
PyMonad==2.4.0
PyWavelets==1.4.1
giotto_tda==0.6.0
ripser==0.6.4
fastcore==1.5.29
fastai==2.7.14
distributed==2023.12.0
datasetsforecast==0.0.8
tensorly==0.8.1
torch==2.2.0
torchvision==0.17.0
statsforecast==1.5.0
chardet==5.2.0
pytest==8.0.0
matplotlib==3.8.2
scipy==1.10.0
tqdm==4.65.2
librosa==0.10.1
pillow==10.2.0
pyriemann==0.5
seaborn==0.13.2
datasets==2.18.0
